.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d3cbd9;
}

.phone a {
    font-weight: 500;
    font-size: 18px;
    color: #2c332f;
}

.phone p {
    margin-bottom: 8px;
}

.phone {
    text-align: right;
}
