table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid #000;
    font-family: sans-serif;
}

caption {
    border: 1px solid #000;
    border-bottom: none;
    font-weight: bold;
    font-size: 16px;
}

th,
td {
    border: 1px solid #000;
    text-align: center;
    font-size: 13px;
}


.weackend {
    color: rgb(199, 0, 20);
}