* {
    box-sizing: border-box;
}

h4 {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 13px;
    width: 300px;
}

.label {
    display: block;
    margin: 10px;
    width: 300px;
    
}

.label1 {
    display: block;
    margin: 0 10px;
    width: 300px;
}

.form {
    font-family: sans-serif;
    font-size: 18px;
}


.input {
    display: block;
    margin: 5px 0 ;
    width: 280px;
    border-width: 0.8px;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 7px;
}

.form-group1 {
    width: 400px;
    border-style: solid;
    border-color: black;
    border-bottom: none;
    padding-bottom: 0;
    border-radius: 10px 10px 0 0;

}

.form-group2 {
    width: 400px;
    border-style: solid;
    border-color: black;
    border-top: none;
    padding-top: 0;
    border-radius: 0 0 10px 10px;
}

textarea {
    resize: vertical;
    border-color: black;
    border-width: 0.8px;
    margin: 10px
}


.button {
    display: block;
    border-radius: 5px;
    border-width: 0;
    margin: 10px;
    width: 100px;
    height: 30px;
    font-size: 16px;
}

.accept {
    margin: 0 5px 0 10px;
}