.footer {
    padding: 60px 0 40px;
    margin-top: auto;
    background: linear-gradient(
        90deg,
        rgba(73, 169, 255, 0.2) 0%,
        rgba(252, 124, 217, 0.2) 100%
        );
    text-align: center;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 40px;
}

.footer-top {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d3cbd9;
}

.nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 60px;
    list-style: none;
}

.nav a {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    transition: color 0.2s;
}

.nav a:hover {
    color: #3596ed;
}

.copyright {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #858e8a;
}
