html {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Oswald;
    margin: 0;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 15px;
}

.article {
    padding-top: 80px;
}

.article-title {
    max-width: 596px;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.text {
    margin: 20px 0 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.img {
    max-width: 1250px;
    margin: 60px 0 80px;
}

.article-title2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.list {
    max-width: 179px;
    height: 153px;
    margin-top: 20px;
    margin-bottom: 80px;
    padding: 0 0 0 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}

.list-item {
    margin-bottom: 12px;
}

.video {
    margin: 40px 0;
    max-width: 1250px;
}

.final {
    margin: 0 0 120px;
    font-weight: 400;
    font-size: 16px;
    color: #535755;
}